.bannar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eaa7a7;
}
.bannar-description {
	width: 506px;
	margin-left: 200px;
	text-align: center;
}

.bannar-image {
	width: 635px;
	height: 428px;
	margin-left: 50px;
}
.btn-primary {
	padding: 10px;
	border-radius: 5px;
	border: 0;
	float: left;
	background: #e55473;
	cursor: pointer;
}
.bannar-description > p {
	color: lightgray;
}
/* to find easy */
.bonus-marks {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}

.img-flex {
	display: flex;
	justify-content: space-around;
}
.img-flex > img {
	margin: 15px;
	border-radius: 50% 50% 0 0;
	width: 300px;
}
.pink {
	background-color: #0597a0;
}
.flower {
	background-color: skyblue;
}
.tree {
	background-color: rgb(228, 123, 188);
}
.names {
	display: flex;
	justify-content: space-around;
	text-decoration: underline;
}
/* main section */
.deal-container {
	background-color: antiquewhite;
	margin-top: 80px;
}
.deal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;
	margin: 80px auto;
}
.single {
	color: #e55473;
}
/* flower-items */
.title {
	margin-top: 70px;
}
.title-caption {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.flower-items {
	display: flex;
	justify-content: space-around;
	margin: 50px;
}
/* new */
.latest-deal {
	width: 1115px;
	height: 350px;
	margin: 0 auto;
	background-image: url('Flower Asset/Rectangle\ 9.png');
	text-align: center;
	margin-top: 100px;
}
.title-info {
	padding-top: 100px;
}
input {
	padding: 10px;
}
.search-here {
	width: 500px;
	border-radius: 5px;
	border: 0;
}
.btn-secondery {
	border: 0;
	background-color: #e55473;
	cursor: pointer;
	margin-left: 5px;
	border-radius: 5px;
	width: 100px;
}
/* footer */
.footer-section {
	text-align: center;
	background-color: black;
	color: white;
	height: 280px;
	margin-top: 80px;
	padding-top: 60px;
}
