.bannar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eaa7a7;
	/* margin: 0; */
}
.bannar-description {
	width: 506px;
	/* height: 428px; */
	margin-left: 200px;
	text-align: center;
}

.bannar-image {
	width: 635px;
	height: 428px;
	margin-left: 50px;
}
.btn-primary {
	padding: 10px;
	border-radius: 5px;
	border: 0;
	float: left;
	background: #e55473;
	cursor: pointer;
}
.bannar-description > p {
	color: lightgray;
}
/* main section */
.deal-container {
	background-color: antiquewhite;
	margin-top: 80px;
}
.deal {
	display: flex;
	/* margin-top: 50px; */
	justify-content: center;
	align-items: center;
	width: 900px;
	margin: 80px auto;
}
.single {
	color: #e55473;
}
/* flower-items */
.title {
	margin-top: 70px;
}
.title-caption {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.flower-items {
	display: flex;
	justify-content: space-around;
	margin: 50px;
}
/* new */
.latest-deal {
	width: 1115px;
	height: 300px;
	margin: 0 auto;
	background-image: url('Flower Asset/Rectangle\ 9.png');
	text-align: center;
}
.title-info {
	padding-top: 100px;
}
input {
	padding: 10px;
}
.search-here {
	width: 500px;
	border-radius: 5px;
	border: 0;
}
.btn-secondery {
	border: 0;
	background-color: #e55473;
	cursor: pointer;
	margin-left: 5px;
	border-radius: 5px;
	width: 100px;
}
